h1{
    
    font-size: 50px;
}
#my-portfolio{
    color:rgb(10, 4, 90);
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin:0px;
}
section{
    display: flex;
    margin: 0px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
    height: 400px;
}
.hire-me{
    text-decoration: none;
    background-image:linear-gradient(rgb(17, 17, 175),blue);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight:700px ;

}
#section-1{
    background-image: url(image/bg-corner.png)  ;
    border-image-width: 5px;
    background-repeat: no-repeat;
    
    
}
