h1{
    
    font-size: 50px;
}
#my-portfolio{
    color:rgb(211, 102, 38);
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin:0px;
}
#section-1 {
    display: flex;
    margin: 100px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
    height: 400px;
}
.hire-me{
    text-decoration: none;
    background-image:linear-gradient(rgb(17, 17, 175),blue);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight:700px ;

}
body{
    background-image: url(image/bg-corner.png)  ;
    
    background-repeat: no-repeat;
    
    
}
.box{
    box-shadow: 10px 10px  40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-left: 10px solid;
    border-radius:10px ;
    border-image: linear-gradient(orange, rgb(241, 94, 9));
    border-image-slice: 1;
}
.ex{
    margin-left: 160px;
    margin-bottom: 5px;

}
.footer{
    text-align: center;
    font-weight: 700px;
    margin-bottom: 10px;
}